body{
    background-color: aliceblue;
}

h1 {

    color: cadetblue;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 6rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

h3 {
    color: white;
    background: #3498db;
    width: 20%;
    position: relative;
    left: 41%;
    text-align: center;
    font-size: 2rem;
    border-radius: 0.5rem;
    display: inline-block;
}

.player1 {
    color: cadetblue;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
    display:inline;
    position: relative;
    left: 42%;
}

.player2{
    color: cadetblue;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
    display:inline;
    position: relative;
    left: 47.5%;
}

.reset-btn {
    background: #3498db;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 10px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
    /* custom code */
    display: inline-block;
    position: relative;
    width: 10%;
    left: 70%;
}
  
.reset-btn:hover {
    background: black;
    color: red;
}

.player1-dice{
    height: 9rem;
    width: 9rem;
    background-color: blue;
    border-radius: 2rem;
    position: relative;
    left: 40%;
    display: inline-block;
}

.player2-dice{
    height: 9rem;
    width: 9rem;
    background-color: blue;
    border-radius: 2rem;
    position: relative;
    left: 42%;
    display: inline-block;
}

.dot1 {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    float: left;
    position: relative;
    left: 10%;
    top: 15%;
}

.dot2 {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    float: left;
    position: relative;
    left: 30%;
    top: 15%;
}

.dot3 {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: 75%;
    top: 15%;
}

.dot4 {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: 60%;
    left: 10%;
    float: left;
}

.dot5 {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: 60%;
    left: 30%;
    float: left;
}

.dot6 {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: 60%;
    left: 75%;
}

.removedDot {
    background-color: blue;
}

.play-btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

    /* custom */
    display: inline-block;
    position: relative;
    left: 35rem;
    width: 25rem;
    margin-top: 2rem;
  }
  
.play-btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  h4 {
    color: cadetblue;
    width: 50%;
    text-align: center;
    font-size: 3rem;
    border-radius: 0.5rem;
    margin-top: 1%;
    margin-bottom: 3%;
    position: relative;
    left: 26%;
  }

.footer-note {
    text-align: center; 
    padding: 20px; 
    background-color: rgb(14, 148, 226); 
    color: white;
    margin-top: 0.5rem;
  }

  a {
    color: aliceblue;
  }